*.pyc  
*~  
__pycache__  
env
.env
.vscode
theme
.DS_Store  
db.sqlite3

cache/*
!cache/.gitkeep

logs

branding
staticfiles
config/sssssssssettings.py
wsgi.py
.env.sincehence
config/settings
config/settingssss
